*{
    overflow-x: hidden;
    text-align: center;
}
.Synopsis{
    text-align: justify;
    margin: 0%;
    padding: 0%;
}
.card:hover {
    border-radius: 60px;
    transition: 2s;
}
.btn:hover {
    color: white;
    font-weight: bolder;
    border-radius: 60px;
    transition: 2s;
}
::-webkit-scrollbar {
    width: 0;

    /* Hide the scrollbar completely */
}